body {
	overflow-x: hidden;
}

header {
	text-align: center;
	width: 100%;
}

#title {
	font-size: 50px;
}

.nav {
	width: 100%;
}

.pages {
	font-size: 20px;
	color: white;
	background-color: black;
	border: 1px solid white;
	height: 30px;
	transition: height 1s;
}

.pages:hover {
	color: white;
	text-decoration: none;
	height: 45px;
}

.jumbotron {
	margin-top: 15px;
	background-image: url('../Images/gallery/image.jpg');
	height: 600px;
	background-size: cover;
	background-position: center;
}

.jumbotron h2 {
	color: white;
}

.jumbotron p {
	color: white;
}

.a {
	text-decoration: underline;
	text-align: center;
}

.b {
	width: 100%;
}

.d {
	text-decoration: none;
	color: black;
	font-size: 22px;
}
.d:hover {
	color: black;
}

.f {
	text-align: center;
}

.e {
	font-size: 20px;
}

.img1 {
	margin:  12.5px auto;
	transition: transform 0.5s linear;
}
.img2 {
	transition: transform 1s ease-out;
}

.maingal p {
	text-align: center;
	font-size: 20px;
}


#intro {
	line-height: 40px;
	font-size: 16px
}

.social {
	margin-right: auto;
	margin-left: auto;
	height: 50px;
}

footer {
	margin-top: 35px;
}

canvas {
	margin: 30px auto 30px auto;
	text-align: center;
	border: 80px solid black;
}

.portrait {
	margin-left: auto;
	margin-right: auto;
}

label {
	font-size: 25px;
}

form {
	margin-top: 25px;
	margin-bottom: 25px;
}

textarea {
	font-size: 12px;
}

#twitter {
	color: black;
	background-color: lightblue;
	border-color: blue;
	border-radius: 5px;
	font-size: 25px;
	width: 25%;
	transition: all 1s;
}

#twitter:hover {
	font-size: 35px;
}

.g {
	text-align: center;
}

#easter1 {
	transition: color 0.5s;
	transition: background-color 0.5s
}
#easter1:hover {
	background-color: black;
	color: white;
}

canvas {
	background-color: blue;
}


@keyframes rotate1 {
	0% {
		transform: rotate(0);
	}
	33% {
		transform: rotate(-90deg);
	}
	66% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}

}

@keyframes up-down {
	0%, 100% {
		transform: translateY(0);
	}
	33% {
		transform: translateY(-50px);
	}
	66% {
		transform: translateY(50px);
	}

}

@keyframes sidetoside {
	0%, 100% {
		transform: translateX(0px);
	}
	33% {
		transform: translateX(20px);
	}
	66% {
		transform: translateX(-20px);
	}

}

@keyframes font-up {
	0% {
		font-size: 16px;
	}

	33% {
		font-size: 30px;
	}

	100% {
		font-size: 16px;

	}

}

@keyframes rainbow{
  0%, 100%{
    background-color: red;
  }
  10%, 90%{
    background-color: orange;

  }
    20%, 80%{
    background-color: yellow;
  }
    30%, 70%{
    background-color: green;
  }
    40%, 60%{
    background-color: blue;
  }
    50%{
    background-color: purple;
  }
}
