header {
	text-align: center;
	width: 100%;
}

#title {
	font-size: 50px;
}

.nav {
	width: 100%;
}

.pages {
	font-size: 20px;
	color: white;
	background-color: black;
	border: 1px solid white;
	height: 30px;
	transition: height 1s;
}

.pages:hover {
	color: white;
	text-decoration: none;
	height: 45px;
}


header {
	background-color:white;
}


.jumbotron {
	margin-top: 15px;
	background-image: url();
}

